*.sql
*.tar.gz
.idea/
.htaccess
.git-credentials
backup/
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/w3tc-config/
wp-content/object-cache.php
wp-content/advanced-cache.php
wp-content/db.php
wp-content/w3-total-cache-config-preview.php
*.DS_Store