#main > article > header {
    display: none;
}
table.wishlist_table td.product-remove > div {
    text-align: center;
}
table.wishlist_table a.remove_from_wishlist {
    color: white !important;
    font-size: 18px !important;
    font-weight: bold;
    line-height: 20px !important;
}
table.wishlist_table a.remove_from_wishlist:hover {
    background-color: #f00 !important;
}

table.wishlist_table a.add_to_cart_button {
    border-radius: 3px;
    border: 1px solid #ff7700 !important;
    background: white !important;
    color: #ff7700 !important;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    text-transform: none;
}
table.wishlist_table a.add_to_cart_button:hover {
    background: #ff7700 !important;
    color: white !important;
}
